* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Navigation panel - start*/
.navbar {
    height: 60px;
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0 15%;
    gap: 20px;
}

.navbar .img {
    height: fit-content;
    margin-left: 20%;
}

.navbar .nav {
    display: flex;
    gap: 20px;
    align-self: center;
}

.navbar ul {
    list-style-type: none;  
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
}

.navbar a:hover{  /*hightlite when chose with a mouse*/
    color: lightblue;
}
/*Navigation panel - end*/


/*Header block - start*/
.header {
    background-color: #1f2937;
    display: flex;
    color: white;
    padding: 5% 15%;
    height: auto;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    flex: auto;

}

.header .left-container {
    min-width: 300px;   
}

.header img {
    min-width: 300px;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 20px;
}

.header p {
    color: #E5E7EB;
    font-size: 20px;
    margin-bottom: 20px;
}

.header button {
   
}


















