* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Navigation panel - start*/
.navbar {
    height: 60px;
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 5px 15%;
    gap: 20px;
}

.navbar .img {
    height: fit-content;
    margin-left: 20%;
}

.navbar .nav {
    display: flex;
    gap: 20px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul {
    list-style-type: none;  
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
}

.navbar a:hover{  /*hightlite when chose with a mouse*/
    color: lightblue;
}
/*Navigation panel - end*/


/*Header block - start*/
.header {
    background-color: #1f2937;
    display: flex;
    color: white;
    padding: 5% 15%;
    height: auto;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.header .left-container {
    min-width: 300px;
    flex: 1 1 400px;   
}

.header img {
    min-width: 300px;
    flex: 1 1 400px;
    border-radius: 10px;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 20px;
}

.header p {
    color: #E5E7EB;
    font-size: 20px;
    margin-bottom: 20px;
}

.header button {
   background-color: #3882F6;
   color: white;
   width: 200px;
   height: 50px;
   text-align: center;
   font-size: large;
   border-radius: 10px;
}

.header button:hover {
    color: #E5E7EB;
}
/*Header block - end*/


/*Informaition block - start*/
.info-top-container h1 {
    color: #1f2937;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    font-size: 36px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 20px;
    flex-wrap: wrap;
}

.boxes .box {
    max-width: 250px;
}

.boxes img {
    max-width: 250px;
    border-radius: 10px;
}

.boxes p {
    color: #6f737c;
    font-size: 20px;
}
/*Informaition block - end*/














